<div id="dialog-container" [class]="data.class" [@openClose]="isOpen ? 'open' :'closed' ">
    <div id="dialog-title"><i class="material-icons">vpn_key</i> パスワードの変更</div>
    <ng-container *ngIf="error">
        <div class="error-message">
            {{errorMessage}}
        </div>
    </ng-container>
    <div class="dialog-row-label">現在お使いのパスワード</div>
    <div class="form-row">
        <div class="form-content">
            <input [type]="oldPasswordHide ? 'password' : 'text'" id="oldPassword" [(ngModel)]="oldPassword"
                (input)="removeErrorMessage($event.target.value)">
            <i class="material-icons" id="calendarIcon"
                (click)="oldPasswordHide= !oldPasswordHide">{{oldPasswordHide? 'visibility_off' : 'visibility'}}</i>
        </div>
    </div>
    <div class="dialog-row-label">新しいパスワードを入力してください。</div>
    <div class="form-row">
        <div class="form-content">
            <input [type]="newPasswordHide ? 'password' : 'text'" id="newPassword" [(ngModel)]="newPassword"
                (input)="removeErrorMessage($event.target.value)">
            <i class="material-icons" id="calendarIcon"
                (click)="newPasswordHide= !newPasswordHide">{{newPasswordHide? 'visibility_off' : 'visibility'}}</i>
        </div>
    </div>
    <div class="dialog-row-label">確認のため、<br>もう一度パスワードを入力してください。</div>
    <div class="form-row">
        <div class="form-content">
            <input [type]="confirmPasswordHide ? 'password' : 'text'" id="confirmPassword" [(ngModel)]="confirmPassword"
                (input)="removeErrorMessage($event.target.value)">
            <i class="material-icons" id="calendarIcon"
                (click)="confirmPasswordHide = !confirmPasswordHide">{{confirmPasswordHide ? 'visibility_off' : 'visibility'}}</i>
        </div>
    </div>
    <div class="button-row">
        <app-button label="送信" color="save" size="medium" class="table-button" (click)="submit()"></app-button>
    </div>
</div>

<!-- オーバーレイ -->
<div id="overlay" (click)="closeModal()" [@openClose]="isOpen ? 'open' :'closed'"></div>