#body-fixed {
    width: 100%;
    height: 100%;
}

#body {
    padding-top: 50px;
    height: 100%;
}

.page {
    flex: 1;
    background-color: #EEE;
    overflow-x: scroll;
}

.login-page {
    flex: 1;
    background: linear-gradient(to top, rgb(239, 255, 238), #FFF);
}

.no-side-nav {
    display: none;
    transition: 1s;
}

@media screen and (orientation: landscape) {
    /* 横向きの場合のスタイル */
    #body {
        display: flex;
        flex-direction: row;
    }

    #footer {
        display:none;
    }
 }
 
 @media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    #body {
        display: flex;
        flex-direction: column;
    }

    #side-nav {
        display:none;
    }
 }

 #loading-card {
    width: 400px;
    margin: 150px auto;
    box-shadow: 0px 3px 5px #777;
    background: #FFF;
    border-radius: 5px;
    #card-title {
        width: 380px;
        margin: 0 auto;
        img {
            margin-top: 10px;
            width: 100%;
            border-radius: 5px;
            object-fit: contain;
        }
    }
    #card-body {
        width: 340px;
        margin: 0 auto;
        padding: 10px 30px 20px;
        #card-row {
            font-size: 1.1rem;
            color: #333;
            margin-bottom: 10px;
        }
    }
    
    
}