<div id="header-fixed">
    <div id="header">
        <div id="menu" (click)="toggle()">
            <i class="material-icons" id="menu-icon">menu_open</i>
        </div>
        <div id="main-logo">
            <img src="../../../assets/images/ikoinoie.png" alt="いこいの家26">
        </div>
        <div id="menu-toggle" (click)="menuToggle()">
            <i class="material-icons" id="account-icon">account_circle</i>
            <div id="account-name">
                <ng-container *ngIf="state | async as tempState; else nullState">
                    {{tempState.accountName}}
                </ng-container>
                <ng-template #nullState>
                    No Name
                </ng-template>
            </div>
        </div>
    </div>
</div>