<!-- ヘッダーのメニュー classの情報は、HeaderMenuServiceから入れている-->
<div id="menu-container" [class]="data.class" [@openClose]="isOpen ? 'open' :'closed' ">
    <div class="dialog-container">
        <div id="title">{{careReceiver}}<span id="suffix">&nbsp;様</span></div>
        <div class="form-container">
            <div id="label">食事タイプを選択してください。</div>
            <div id="button-group">
                <ng-container *ngFor="let meal of mealTypeList">
                    <div class="menu-button" (click)="selectMeal(meal)" [ngClass]="{'selected': putData.str_mealType == meal}">
                        {{meal}}
                    </div>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="putData.str_mealType">
            <div class="form-container">
                <div id="label">
                    主菜の食事量を10段階から選択してください。
                </div>
                <div id="button-group">
                    <ng-container *ngFor="let proportion of proportionList">
                        <div class="proportion-button" (click)="selectMainProportion(proportion)"
                            [ngClass]="{'selected': putData.num_mainProportion == proportion}">
                            {{proportion}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-container">
                <div id="label">
                    副菜の食事量を10段階から選択してください。
                </div>
                <div id="button-group">
                    <ng-container *ngFor="let proportion of proportionList">
                        <div class="proportion-button" (click)="selectSubProportion(proportion)"
                            [ngClass]="{'selected': putData.num_subProportion == proportion}">
                            {{proportion}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-container">
                <div id="label">
                    備考欄
                </div>
                <div id="button-group">
                    <textarea class="remark" name="remark" rows="4" cols="40" type="text" [(ngModel)]="putData.str_remark"></textarea>
                </div>
            </div>
            <div class="add-button" (click)="post()">追加</div>
        </ng-container>
    </div>
</div>

<!-- オーバーレイ -->
<div id="overlay" (click)="close()" [@openClose]="isOpen ? 'open' :'closed'"></div>