/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    box-sizing: border-box; // borderも込みでサイズ計算
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
